@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


img{
  @apply cursor-pointer
}


  @layer utilities {
    .booklist-book:hover .product-image {
        @apply shadow-md transform scale-105;
      }
  }

  .filters-ul li{
    font-style: italic;
    font-size: 0.875rem;
    padding: 0.25rem 0;
  }
  .filters-ul li .cursor-pointer{
    cursor: pointer;
  }

  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
  }

